<div class="about-container">
  <h1>Contact Us</h1>
  <div class="onboarding-image-wrapper">
    <!-- Desktop Image -->
    <img
      src="assets/chatsupport/chatsupport_03.svg"
      alt="Onboarding Overview Desktop"
      class="onboarding-image desktop-img"
    />

    <!-- Mobile Images -->
    <div class="mobile-img-wrapper">
      <img
        src="assets/chatsupport/chatsupport_01.svg"
        alt="Onboarding Mobile 1"
        class="onboarding-image"
      />
      <img
        src="assets/chatsupport/chatsupport_02.svg"
        alt="Onboarding Mobile 2"
        class="onboarding-image"
      />
    </div>
  </div>
  <br />
  <p>
    If you have any questions, concerns, or need support, feel free to reach out
    to us.
  </p>

  <h2>Support Contacts</h2>
  <div class="contact-info">
    <p>
      <strong>For User Support: </strong>
      <a href="mailto:support&#64;getzency.com">support&#64;getzency.com</a>
    </p>
    <p>
      <strong>For Company Queries: </strong>
      <a href="mailto:support&#64;witnessbuy.com">support&#64;witnessbuy.com</a>
    </p>
    <p>
      <strong>For Seller Support: </strong>
      <a href="mailto:sellersupport&#64;getzency.com"
        >sellersupport&#64;getzency.com</a
      >
    </p>
  </div>
</div>
