<div class="about-container">
    <h1>Deliver with Zency</h1>
    <h2>Join the 15-Minute Delivery Revolution</h2>
    <p>Zency is building the next generation of commerce where fashion, electronics, kitchen essentials, beauty, and lifestyle products reach customers in just minutes. And behind every fast delivery is a reliable partner making it happen.</p>
    <p>We’re expanding rapidly and looking for driven individuals to become part of our delivery crew.</p>
<br>
    <h2>Why Partner with Zency?</h2>
    <h5>High Volume Deliveries, Higher Frequency, Higher Earnings</h5>
    <p>Our model is built on short-distance, high-frequency orders. From headphones to frying pans, fashionwear to home décor we move everything fast. More orders per shift means more in your pocket. Not just this Zency pays the highest per order to you than any other quick commerce player in India.</p>
    <h5>Payouts Every Week</h5>
    <p>No waiting till the month end. Get paid weekly, always on time.</p>
    <h5>Flexible Work Hours</h5>
    <p>Morning, evening, weekends you choose your slots (up to 12 Hours). Whether full-time or part-time, Zency fits your schedule.</p>
    <h5>Built-In Support</h5>
    <p>You’re never alone on the road. Our live support team is here to help with navigation, technical issues, or delivery queries.</p>
    <h5>Grow With a Brand That’s Thinking Big</h5>
    <p>Zency is live in Mumbai and launching soon in Delhi, Gurgaon, Noida, Hyderabad, and Bangalore. Be part of the founding fleet in your city.</p>
    <br>
    <h2>Who Can Join?</h2>
    <ul>
        <li>Age 18 or above</li>
        <li>Two-wheeler and valid driving license</li>
        <li>A smartphone with mobile internet</li>
        <li>Basic knowledge of city routes</li>
    </ul>
    <br>
    <h2>Start Earning with Zency</h2>
    <p>Be a part of India’s fastest growing quick commerce platform. If you're looking to earn well, work flexibly, and grow with a company that’s building the future of shopping this is your moment.</p>

    <p>Apply now at email us at <strong>delivery&#64;getzency.com</strong></p>
    <p>Deliver fast. Deliver everything. Deliver with Zency.</p>

</div>