<section class="bannerSec position-relative">
  <div class="bannerSec_top position-relative">
    <div class="container">
      <img src="images/dots-img.webp" class="bannerSec_dots position-absolute z-0 img-fluid" alt="img" />
      <div class="row align-items-center justify-content-between">
        <div class="col-md-7">
          <div class="bannerSec_content">
            <div class="bannerSec_top_title">
  <div class="line-1">Sell Your Products</div>
  <div class="line-2">
    Faster with
    <span class="logo-inline">
      <img src="images/banner-logo.svg" alt="Zency" class="logo-main" />
      <img src="assets/images/banner/banner-circle-img.svg" alt="circle" class="logo-bg-circle" />
      <span class="exclamation">!</span>
    </span>
  </div>
</div>


            <p class="bannerSec_desc">
              Reach more customers and grow your brand with our fast delivery
              and powerful platform.
            </p>
            <a href="/coming-soon" class="btn-black">Sell On Zency</a>
          </div>
        </div>
        <div class="col-md-5 ps-5">
          <div class="bannerSec_img">
            <img src="images/banner-img.webp" class="img-fluid" alt="Banner" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bannerSec_bottom position-relative">
    <div class="container">
      <div class="col-md-11 mx-auto">
        <div class="row justify-content-center">
          <div class="col-lg-3 text-center">
            <img src="images/brand-visibility.svg" class="img-fluid mb-3" alt="brand-visibility" />
            <h2 class="bannerSec_bottom_title mb-0">3X Brand Visibility</h2>
          </div>
          <div class="col-lg-3 text-center">
            <img src="images/settlement.svg" class="img-fluid mb-3" alt="settlement" />
            <h2 class="bannerSec_bottom_title mb-0">15 Days Settlement</h2>
          </div>
          <div class="col-lg-3 text-center">
            <img src="images/onboarding.svg" class="img-fluid mb-3" alt="onboarding" />
            <h2 class="bannerSec_bottom_title mb-0">Simplest Onboarding</h2>
          </div>
          <div class="col-lg-3 text-center">
            <img src="images/sellers-support.svg" class="img-fluid mb-3" alt="Support" />
            <h2 class="bannerSec_bottom_title mb-0">24/7 Sellers Support</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>