<div class="about-container">
    <h1>Chat With Us with Real Time Chat Support</h1>
        <div class="onboarding-image-wrapper">
        <!-- Desktop Image -->
        <img src="assets/chatsupport/chatsupport_03.svg" alt="Onboarding Overview Desktop"
            class="onboarding-image desktop-img" />

        <!-- Mobile Images -->
        <div class="mobile-img-wrapper">
            <img src="assets/chatsupport/chatsupport_01.svg" alt="Onboarding Mobile 1" class="onboarding-image" />
            <img src="assets/chatsupport/chatsupport_02.svg" alt="Onboarding Mobile 2" class="onboarding-image" />
        </div>
    </div>
    <br>
    <div><p>At Zency, we’re not just building a faster way to shop fashion. We’re building a faster way to support you. Soon, you’ll be able to reach out to us directly through <strong>real-time chat support</strong> right inside the app and on our website. Whether it’s a quick question about your delivery, a sizing doubt, or help with a return, our support team will be just a message away.</p></div>

    <br>
    <div><p>Our team knows Zency inside out, from restocks and refunds to finding that perfect fit in the last minute 24 X 7. While our chat bots are AI powered you can expect it as real people with real solutions. Our goal is to keep support as fast and effortless as our delivery. No more emails and long holds, just instant help when you need it.</p></div>
    
    <br>

    <div><p>We’re putting the final touches on this feature, and it’ll be live very soon. Until then, you can still reach us at <strong>support&#64;getzency.com</strong> for any queries or feedback.</p></div>
    
</div>