<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/images/logo/logo2.svg" alt="Zency Logo" />
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h4>Zency Life</h4>
                <ul>
                    <li><a href="/discover">Discover Zency</a></li>
                    <li><a href="/spotlight">SpotLight By Zency</a></li>
                    <li><a href="/creators">Creators at Zency</a></li>
                    <li><a href="/lifestyle">Zency Lifestyle</a></li>
                    <li><a href="/coming-soon">Dashboard Login</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="/terms">Terms and Conditions</a></li>
                    <li><a href="https://www.getzency.com/" target="_blank" rel="noopener noreferrer">Zency for
                            Customers</a></li>
                    <li><a href="#">Witness Manera</a></li>
                    <li><a href="/coming-soon">Investor Relations</a></li>
                    <li><a href="/coming-soon">Careers</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Queries</h4>
                <ul>
                    <li><a href="/faq">FAQ General</a></li>
                    <li><a href="/privacy-sellers">Privacy Policy for Sellers</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/our-locations">Our Locations</a></li>
                    <li><a href="/why-zency">Why Zency</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/d2c">D2C Onboarding</a></li>
                    <li><a href="/email-support">Support</a></li>
                    <li><a href="/coming-soon">Request a Call</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="social-media">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/get.zency/"><i class="fab fa-facebook"></i></a>
                <a href="https://x.com/GetZency"><i class="fab fa-twitter"></i></a>
                <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
                <a href="https://www.linkedin.com/company/getzency/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/get.zency/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>