<section class="seller-support">
  <div class="support-left">
    <h1>
      <span class="highlight">zency</span><br />Seller Support<br />
      Available 24/7
    </h1>
    <img class="line" src="images/Group.png" alt="line" />
  </div>
  <div class="support-right">
    <p>
      Seller support is here to assist you with all your questions and concerns,
      both before and after you start your online selling journey.
    </p>
    <div class="contact">
      <img
        src="https://cdn-icons-png.flaticon.com/512/561/561127.png"
        alt="Email Icon"
      />
      <span
        >You can reach out us <br />
        <b>sellersupport&#64;getzency.com</b></span
      >
    </div>
  </div>
</section>
