<div class="about-container">
    <h1>Creators at Zency</h1>
        <div class="onboarding-image-wrapper">
        <!-- Desktop Image -->
        <img src="assets/creators/creators_03.svg" alt="Onboarding Overview Desktop"
            class="onboarding-image desktop-img" />

        <!-- Mobile Images -->
        <div class="mobile-img-wrapper">
            <img src="assets/creators/creators_01.svg" alt="Onboarding Mobile 1" class="onboarding-image" />
            <img src="assets/creators/creators_02.svg" alt="Onboarding Mobile 2" class="onboarding-image" />
        </div>
    </div>
    <br>
    <h2>A New Era of Collabs, Content, and Culture</h2>
    <p>Influence today isn’t a billboard. It’s a reel, a real moment, a share, a swipe, a spark. And Zency is building a <strong>creator ecosystem</strong> that makes it all happen faster, better, and more real.</p>
    <p><strong>Creators at Zency</strong> is our dedicated program for Instagram influencers, trendsetters, storytellers, and UGC wizards. Whether you have 5000 followers or 500K, if your content resonates, your voice matters here. </p>
    <p>We’re redefining how content meets commerce blending daily product discoveries with viral worthy storytelling. From unboxings to fashion flips, kitchen hauls to aesthetic home edits, Zency becomes the thread that connects creators to culture.</p>
    <h2>Why Join Zency as a Creator</h2>
    <ul>
        <li>Paid collaborations with fame</li>
        <li>Access to lots of free product drops</li>
        <li>Exposure to our entire user base, get more popular</li>
        <li>Real-time feature opportunities on our app and socials</li>
        <li>Early access to trending D2C brands, get featured on your favourite D2C Pages</li>
        <li>Chance to co-create exclusive Zency content series</li>
    </ul>

    <h2>So Hitting Hot?</h2>
    <p><strong>Join the creator circle at creators&#64;getzency.com</strong></p>

</div>