<div class="about-container">
    <h1>Our Locations</h1>
    <h2>Where We Deliver</h2>
    <p>Zency is redefining how fashion, electronics, and lifestyle products reaches your doorstep. We're fast, we're curated, and we're hyperlocal. Our 15 Minute delivery service is now live in select parts of <strong>Mumbai</strong>, bringing fashion essentials, beauty must haves, and lifestyle picks to your hands faster than ever.</p>

    <h2>Currently Delivering In:</h2>
    <h5>Mumbai</h5>
    <p>From Bandra to Powai, Andheri to Borivali, we’ve got locations in the city covered. If it’s hot and trendy, it’s at your door before your coffee cools.</p>

    <h2>Launching Soon:</h2>
    <h5>Delhi, Gurgaon, Noida, Hyderabad, Bangalore, Pune</h5>
    <p>The wait won’t be long. Our darkstores, brand partners, and superfast last-mile delivery network are gearing up to go live in these cities. Whether you're in a boardroom in Gurugram, a café in Indiranagar, or heading out in South Delhi, your daily outfit fixes, lifestyle purchase, home essentials are about to get a serious upgrade. No waiting in lines for launch of your favourite phone, get in 15 Minutes on Zency.</p>
    <p>Check back here for launch updates and service expansions as we scale across India.</p>

</div>