<div class="about-container">
  <h1>General Terms and Conditions for anyone using Zency for Sales or Purchase</h1>
  <div class="onboarding-image-wrapper">
        <!-- Desktop Image -->
        <img src="assets/privacy/Privacypolicy_05.svg" alt="Onboarding Overview Desktop"
            class="onboarding-image desktop-img" />

        <!-- Mobile Images -->
        <div class="mobile-img-wrapper">
            <img src="assets/privacy/Privacypolicy_01.svg" alt="Onboarding Mobile 1" class="onboarding-image" />
            <img src="assets/privacy/Privacypolicy_04.svg" alt="Onboarding Mobile 2" class="onboarding-image" />
        </div>
    </div>
  <p><strong>Effective Date:</strong> 18th Feb 2025</p>
  <p>Welcome to Zency! By accessing or using the <strong>Zency Consumer App</strong>, <strong>getzency.com</strong>, or becoming a seller on Zency via sellers.getzency.com, you agree to abide by these Terms & Conditions (T&C). These terms govern the relationship between Zency (Witness Manera Private Limited) and its Users (Customers) & Sellers (Vendors/D2C Brands).</p>
  <p><strong>Witness Manera Private Limited</strong> ("Zency," "we," "our," or "us") is committed to provide the best service to both Customers and Sellers and by using our services, you agree to the terms and conditions, collection, use, and sharing of your personal information as described in this policy.</p>
  <hr>

  <section>
    <h2>1. Definitions</h2>
    <ol>
      <li><strong>“Zency”</strong> refers to <strong>Witness Manera Private Limited</strong>, which owns and operates the platform.</li>
      <li><strong>“User”</strong> refers to any individual using Zency to browse or shop for products.</li>
      <li><strong>“Seller”</strong> refers to any business or vendor listing products on Zency for sale.</li>
      <li><strong>“Order”</strong> refers to any purchase made on Zency.</li>
      <li><strong>“Dark Store”</strong> refers to Zency’s fulfilment centres where products are stocked and shipped from.</li>
      <li><strong>“Commission”</strong> refers to the percentage deducted from each sale by Zency as per agreed rates (For Sellers).</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>2. Eligibility & Registration</h2>

    <h5>For Users</h5>
    <ol>
      <li>Users must be <strong>18 years or older</strong> to create an account and shop on Zency or should have consent of the parents for performing a transaction. By downloading Zency we expect anyone under 18 years of age is accompanied by their parents for making a purchase.</li>
      <li>Registration requires a <strong>valid phone number, email, and delivery address</strong>.</li>
      <li>Users are responsible for maintaining <strong>account security</strong> (passwords, OTPs, payment method).</li>
    </ol>

    <h5>For Sellers</h5>
    <ol>
      <li>Sellers must be legally registered businesses in India, having promoters 18 years of age and above and provide valid documentation, including:
        <ul>
          <li>GSTIN (Goods & Services Tax Identification Number)</li>
          <li>PAN (Personal or Business)</li>
          <li>Bank Account Details</li>
          <li>Business Address Proof</li>
          <li>Product Catalog with descriptions and images</li>
          <li>CIN and other details as asked while registration</li>
        </ul>
      </li>
      <li>Sellers must complete the <strong>Zency Vendor Registration Process</strong>online through <strong>sellers.getzency.com</strong> or through <strong>Seller Relationship Team</strong> and <strong>VRF Form</strong>, followed by quality checks and compliance verification.</li>
    </ol>
    <p>Zency reserves the right to <strong>suspend or terminate accounts</strong> for violations of these T&Cs for both users and sellers.</p>
  </section>
  <hr>

  <section>
    <h2>3. Orders, Payments & Pricing</h2>
    <h5>For Users</h5>
    <ol>
      <li>Orders are confirmed only <strong>after successful payment</strong> (online or COD).</li>
      <li>Accepted Payment Methods: <strong>Credit/Debit Cards, UPI, Net Banking, Wallets, and Cash on Delivery (COD)</strong>.</li>
      <li>Zency reserves the right to <strong>cancel orders due to stock unavailability, fraud detection, or pricing errors</strong> and appropriate <strong>refunds</strong> are processed.</li>
      <li><strong>Offers and Discounts</strong> affect the <strong>Gross Total</strong> and GST and taxation is applicable to Gross Total, whereas GST on <strong>Shipment fee, Platform fee</strong> and <strong>Convenience fee</strong> may be different.</li>
    </ol>

    <h5>For Sellers</h5>
    <ol>
      <li>Sellers can set their own <strong>product prices</strong>, but competitive pricing is encouraged for better sales, further more sellers have control over vendor-based offers.</li>
      <li>Zency charges some <strong>commission on sales</strong>, which may be dynamically reduced <strong>for high-performing sellers</strong>. These commissions during promotional times are generally uniform.</li>
      <li>Sellers receive <strong>bi-weekly or monthly</strong> payouts directly to their registered bank accounts.</li>
      <li>Different <strong>categories</strong> of products may have <strong>different commissions</strong>.</li>
      <li>Payment deductions may include:
        <ul>
          <li>Zency’s commission</li>
          <li>Promotional Ad fees (if opted)</li>
          <li>Any penalties (for defective products or policy violations)</li>
          <li>Fulfilment Fee (for dark stores)</li>
          <li>Return Processing Fee</li>
          <li>Platform Listing Fee</li>
        </ul>
      </li>
      <li>Sellers are responsible for <strong>ensuring inventory availability </strong>and delivery to the <strong>dark stores</strong> to prevent stockouts.</li>
    </ol>
  </section>
  <hr>

  <section>
    <h2>4. Shipping, Delivery & Fulfilment</h2>
    <h5>For Users</h5>
    <ol>
      <li>Zency offers <strong>15-minute ultra-fast delivery</strong> in select cities, however 15-minutes is the optimal time for delivery, delivery time can stretch in case of more traffic and rush hours and we ensure safety of our riders first.</li>
      <li>Delivery timelines depend on <strong>location, product availability, and peak hours</strong>.</li>
      <li>Users must provide an <strong>accurate delivery address</strong> (although picked by GPS) failed deliveries due to incorrect addresses or unreachable phone may not be eligible for any compensation.</li>
      <li>If the order is <strong>delayed beyond a reasonable time</strong>, Zency will notify the user and subsequent cation will be taken by the dark store manager.</li>
    </ol>

    <h5>For Sellers</h5>
    <ol>
      <li>Sellers must <strong>deliver stock to Zency’s assigned dark stores</strong> after approval on the date and slot assigned.</li>
      <li>Zency handles <strong>all order fulfilment, packaging, and delivery</strong> for the last mile delivery.</li>
      <li>Inventory stored in Zency’s dark stores remains <strong>the seller’s liability</strong> until sold, on <strong>ageing</strong> Zency reserves the right to ask the sellers to <strong>take back the stocks</strong> within a notified time period.</li>
      <li>Zency may request sellers to replace or retrieve <strong>unsold inventory</strong> after a specified period.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>5. Returns, Cancellations & Refunds</h2>
    
    <h5>For Users</h5>
    <ol>
      <li>Users can request a <strong>return within 48 hours of delivery</strong> for eligible products from the time of delivery.</li>
      <li>Instant right to refuse delivery exists with the users known as <strong>instant returns</strong> in case they are not satisfied with the product delivered and should be returned with all packaging and tags without any damage immediately.</li>
      <li>Products must be <strong>unused, undamaged, and returned with original packaging</strong>.</li>
      <li>Refunds will be processed within <strong>5-7 working days</strong> to the original payment method or Zency Wallet as preferred by the user.</li>
      <li>Certain items (<strong>innerwear, cosmetics, custom-made products</strong>) may not be eligible for returns.</li>
      <li>Returns initiated after 48 hours of the delivery up to 96 hours may only be replaced in only case-to-case basis, there is no return or replacement window after 96 hours.</li>
    </ol>
     
    <h5>For Sellers</h5>
    <ol>
      <li>Returned products due to <strong>defects or damage</strong> will be notified to the seller for replacement or return.</li>
      <li>If return rates exceed <strong>industry standards</strong>, Zency reserves the right to charge penalties or delist the seller on the platform.</li>
      <li>Sellers may not <strong>reject return requests</strong> if the product is defective or misrepresented.</li>
    </ol>
</section>

  <hr>
  <section>
    <h2>6. User & Seller Conduct</h2>
    <h5>For Users</h5>
    <h6>Users must not:</h6>
    <ol>
      <li>Use Zency for <strong>fraudulent, illegal, or abusive activities</strong>.</li>
      <li>Share false reviews, offensive comments, or misleading product ratings.</li>
      <li>Manipulate discounts, offers, or referral programs in <strong>bad faith</strong>.</li>
      <li>Repeated misconduct may result a user getting banned in the platform.</li>
    </ol>

    <h5>For Sellers</h5>
        <h6>Sellers must not:</h6>

    <ol>
      <li>List counterfeit, prohibited, or misrepresented products.</li>
      <li>Engage in fraudulent activities (false orders, misleading product descriptions).</li>
      <li>Sell <strong>age-restricted</strong> or <strong>banned</strong> products on Zency.</li>
    </ol>
    <p>Violation of these terms may result in <strong>account suspension or legal action</strong>.</p>
  </section>
  <hr>
  <section>
    <h2>7. Promotions & Advertising</h2>
    <ol>
      <li>Zency <strong>promotes high-performing sellers</strong> through in-app marketing.</li>
      <li>Sellers can opt for <strong>paid promotions</strong> for increased visibility.</li>
      <li>Zency provides <strong>$100 ad credits</strong> for early-stage sellers under the <strong>D2C Seller Scaleup Program</strong> which can be utilized to run ads on the platform.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>8. Intellectual Property & Content Rights</h2>
    <ol>
      <li><strong>All content, trademarks, and visuals on Zency</strong> are the property of <strong>Witness Manera Private Limited</strong>.</li>
      <li>Unauthorized use, reproduction, or distribution of Zency’s intellectual property <strong>is strictly prohibited</strong>.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>9. Liability & Disclaimers</h2>
    <ol>
      <li>Zency is <strong>not responsible</strong> for product defects or seller misrepresentations, however Zency may help users in refunds and returns under the listed norms of returns and replacement.</li>
      <li>Zency is <strong>not liable</strong> for delivery failures due to misconducts by a user or providing wrong delivery information.</li>
      <li>Zency <strong>does not guarantee</strong> the accuracy of seller-provided product descriptions however tried its best to ensure the data sanity.</li>
      <li>User is expected to do enough research before purchasing the products as Zency is a <strong>digital platform</strong> that facilitates the products sale by sellers to users through its App or Website.</li>
      <li>Zency is not liable for <strong>guarantee or warrantee</strong> of a product but may help in claiming the same from the seller.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>10. Data Privacy & Security</h2>
    <ol>
      <li>Zency collects and processes personal data in accordance with its <strong>Privacy Policy</strong>.</li>
      <li>User and seller data <strong>will not be sold to third parties</strong> however anonymous data may be utilized for improving the performance and user experience using AI.</li>
      <li>Zency ensures <strong>data security</strong>, but users/sellers must also <strong>safeguard their account credentials</strong>.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>11. Account Termination & Suspension</h2>
    <ol>
      <li>Zency may suspend or terminate accounts for: <strong>Violating these T&Cs</strong>.</li>
      <li>Engaging in fraudulent transactions.</li>
      <li>Repeated policy violations (high return rates, stockouts and so on).</li>
      <li>Repeated fake orders or order cancellation without any reason.</li>
    </ol>
    <p>Users and Sellers may request account deletion via email at <a href="mailto:support@getzency.com">support&#64;getzency.com</a> and <a href="mailto:sellersupport@getzency.com">sellersupport&#64;getzency.com</a> </p>
  </section>
  <hr>
  <section>
    <h2>12. Updates to Terms and Conditions</h2>
    <p>We may update Terms and Conditions periodically. Sellers and Users will be notified via <strong>App notification, Officially Registered Email or SMS</strong>. Users or Sellers continuing the use of the app, portal or website are expected to have <strong>acceptance of the new policy, terms and conditions suo moto</strong>.</p>
  </section>
  <hr>
  <section>
    <h2>13. Contact US At</h2>
    <p><strong>support&#64;getzency.com</strong> for anything related to Zency or <strong>support&#64;witnessbuy.com</strong> for queries with our company.</p>
  </section>