<div class="about-container">
  <h1>Privacy Policy for Zency Consumer App and Website</h1>
  <div class="onboarding-image-wrapper">
        <!-- Desktop Image -->
        <img src="assets/privacy/Privacypolicy_03.svg" alt="Onboarding Overview Desktop"
            class="onboarding-image desktop-img" />

        <!-- Mobile Images -->
        <div class="mobile-img-wrapper">
            <img src="assets/privacy/Privacypolicy_01.svg" alt="Onboarding Mobile 1" class="onboarding-image" />
            <img src="assets/privacy/Privacypolicy_02.svg" alt="Onboarding Mobile 2" class="onboarding-image" />
        </div>
    </div>
  <p><strong>Effective Date:</strong> 17th Feb 2025</p>
  <p>Witness Manera Private Limited ("Zency," "we," "our," or "us") is committed to safeguarding your privacy. This
    Privacy Policy explains how we collect, use, and protect your data when you use the <strong>Zency App on Android or
      iOS</strong> or <strong>www.getzency.com</strong>.</p>
  <p>By using our services, you agree to the collection, use, and sharing of your personal information as described in
    this policy.</p>
  <hr>

  <section>
    <h2>1. Information We Collect</h2>

    <p>When you use Zency App, we may collect the following types of data.</p>

    <h5>A. Personal Information</h5>
    <ol>
      <li><strong>Account Details:</strong> Name, phone number, email id, multiple delivery address, geographic location
        via GPS.</li>
      <li><strong>Payment Information:</strong> UPI, credit/debit card details (secured via third-party payment
        processors).</li>
      <li><strong>Order History:</strong> Past purchases, invoices, refunds, category browsed, coupons and returns.</li>
    </ol>

    <h5>B. Device & Usage Data</h5>
    <ol>
      <li><strong>Device Information:</strong> Smartphone details, operating system, app version.</li>
      <li><strong>App Usage:</strong> Pages visited, features used, time spent, category browsed, category dropped,
        favourites, offers redeemed, purchase history, complaints raised.</li>
      <li><strong>Location Data:</strong> Used for better delivery services, map-based applications and location-based
        recommendations from nearest darkstore.</li>
    </ol>

    <h5>C. Cookies & Tracking Technologies</h5>
    <ol>
      <li><strong>Cookies:</strong> We use cookies and similar technologies to enhance user experience, track app
        performance, and personalize recommendations on web app or cross platform browsing through your account.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>2. How We Use Your Information</h2>

    <p>Zency may use the collected data for the following purposes in order to improve the overall consumer experience.
    </p>

    <h5>A. Order Fulfillment & Customer Support</h5>
    <ol>
      <li>Processing orders, payments, and deliveries.</li>
      <li>Handling returns, refunds, and complaints.</li>
    </ol>

    <h5>B. Personalization of App Usage & Marketing</h5>
    <ol>
      <li>Recommending relevant fashion products.</li>
      <li>Sending promotional emails, discounts, and special offers.</li>
    </ol>
    <h5>C. Security & Fraud Prevention</h5>
    <ol>
      <li>Detecting unauthorized activities, unauthorized logins or fraudulent transactions.</li>
      <li>Preventing fake accounts, fake orders on your account and identity theft.</li>
    </ol>
  </section>
  <hr>

  <section>
    <h2>3. Data Sharing & Third-Party Access</h2>

    <p>We <strong>do not sell</strong> or rent your personal data to any third party, vendor or another user. However, we may share your information with some of our partners to server you better.
    </p>

    <ol>
      <li><strong>Logistics Partners:</strong> To process deliveries and track shipments via delivery app.</li>
      <li><strong>Payment Providers:</strong> For secure transactions (Razorpay, Paytm, CashFree, Google Pay etc.).</li>
      <li><strong>Marketing Partners:</strong> For running offers and personalized ads.</li>
        <li><strong>Government Authorities:</strong> If required by law for taxation, GST, fraud prevention and so on.</li>
      <li><strong>UIDAI:</strong> For Aadhar verification if required for registering you as a seller.</li>
    </ol>
    <p>All third parties are bound by <strong>strict confidentiality agreements</strong>.</p>
  </section>
  <hr>

  <section>
    <h2>4. Data Security Measures</h2>

    <p>Zency takes data security <strong>very seriously</strong> and implements for both users and sellers thus we ensure the following, although no online service can be 100% secure thus users are requested to not to share their passwords, OTP, login information, payment details to anyone. Zency in its best capacity is committed to provide a safe and secure shopping experience.
    </p>

    <ol>
      <li><strong>Encryption:</strong> Payment and personal data are encrypted to prevent leaks.</li>
      <li><strong>Secure Login:</strong> Two-factor authentication (OTP verification every time app is installed).</li>
      <li><strong>Data Access Control:</strong> Only authorized personnel can access sensitive data in an encrypted form, no vital data is shared without anonymity.</li>
      <li><strong>Regular Audits:</strong> We conduct regular security checks to prevent breaches.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>5. Data Retention Policy</h2>
    <ol>
      <li>We may retain user data as long as necessary for order processing, compliance, and legal obligations.</li>
      <li>Users may <strong>request account deletion</strong> via email at <strong>support&#64;getzency.com</strong>, while it may take some time for your account deletion, some of your data like purchase preference may be utilised but not shared for training our AI models for better customer experience.</li>
    </ol>
  </section>
  <hr>
  <section>
    <h2>6. User’s Rights & Choices for Data Modification</h2>
    <ol>
      <li><strong>Access & Update:</strong> Payment and personal data are encrypted to prevent leaks.</li>
      <li><strong>Marketing Optimization:</strong> Two-factor authentication (OTP verification every time app is installed).</li>
      <li><strong>Account Deletion:</strong> Only authorized personnel can access sensitive data in an encrypted form, no vital data is shared without anonymity.</li>
    </ol>
    <p>To exercise any of these rights, email <strong>support&#64;getzency.com</strong>, quoting your order number or customer ID.</p>
  </section>
  <hr>
  <section>
    <h2>7. Cookies & Tracking Preferences</h2>
    <p>Zency uses cookies in the web app or cross platform for:</p>
    <ol>
      <li>Faster logins & smooth navigation.</li>
      <li>Personalized shopping recommendations.</li>
      <li>Analytics & performance monitoring.</li>
    </ol>
    <p>Users can <strong>disable cookies</strong> via device settings, but some features may not work properly, thus its recommended to allow the cookies.</p>
  </section>
  <hr>
  <section>
    <h2>8. Third-Party Links & External Sites</h2>
    <p>Zency and the public platforms like Meta, Twitter (X), Linked-in or so on may contain links to <strong>third party</strong> websites like collaborations, partner brands, payment gateways and so on. Zency is <strong>not responsible</strong> for the privacy practices of these external sites. Thus users are advised to frequently visit privacy policy and terms of these providers if in case external platforms are using your data in some way that restricts your privacy.</p>
  </section>
  <hr>
  <section>
    <h2>9. Children's Privacy</h2>
    <p>Persons who are <strong>"incompetent to contract"</strong> within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc. are not eligible to use our platform. Only individuals who are 18 years of age or older may use the Zency App and avail the Services. If you are under 18 years of age and you wish to download, install, access or use Zency, your parents or legal guardian suo moto must acknowledge and agree to the Terms of Use and Zency Policies. Should your parents or legal guardian fail to agree or acknowledge the Terms of Use and Zency Policies, you shall immediately discontinue its use and Zency reserves the right to terminate your Membership or deny access to your account if it is brought our notice that you are under the age of 18 years. </p>
  </section>
  <hr>
  <section>
    <h2>10. Updates to This Privacy Policy</h2>
    <p>We may update this Privacy Policy periodically. Users will be notified via <strong>App notification, Email or SMS</strong>. User continuing the use of the app are expected to have <strong>acceptance of the new policy</strong>.</p>
  </section>
  <hr>
  <section>
    <h2>11. Contact US At</h2>
    <p><strong>support&#64;getzency.com</strong> for anything related to Zency or <strong>support&#64;witnessbuy.com</strong> for queries with our company.</p>
    <p>This Privacy Policy is <strong>legally binding</strong>, and users must comply with its terms while using Zency.</p>
  </section>
</div>