<div class="about-container">
    <h1>Zency Lifestyle</h1>

    <div class="onboarding-image-wrapper">
        <!-- Desktop Image -->
        <img src="assets/lifestyle/Lifestyle_03.svg" alt="Onboarding Overview Desktop"
            class="onboarding-image desktop-img" />

        <!-- Mobile Images -->
        <div class="mobile-img-wrapper">
            <img src="assets/lifestyle/Lifestyle_01.svg" alt="Onboarding Mobile 1" class="onboarding-image" />
            <img src="assets/lifestyle/Lifestyle_02.svg" alt="Onboarding Mobile 2" class="onboarding-image" />
        </div>
    </div>

    <h2>Redefining Modern Living for Gen Z and Millennials</h2>
    <p>We don’t follow trends. We create them!</p>
    <p>In an era where personal style, wellness, home design, tech, and culture blend seamlessly, Zency brings a lifestyle that reflects how the new India lives fast, expressive, and unapologetically curated.</p>

    <h2>What is the Zency Lifestyle?</h2>
    <p>Zency becomes part of your daily life let’s start your day, we never know when and where we may need something that so zency to be missed out.</p>
   <ul>
  <li>It's 11 PM skincare hauls. GetZency!</li>
  <li>It's last-minute date-night fits. GetZency!</li>
  <li>It's lazy afternoon kitchen viral upgrades. We get it for you.</li>
  <li>It's one-tap gifting that feels personal.</li>
  <li>It's a fast-paced, thoughtful way to live without compromise.</li>
</ul>

<p>We’re building a lifestyle around <strong>instant access and intelligent discovery</strong>. From fashion and beauty to electronics, fitness, home, and beyond, Zency makes every aspect of modern living effortless.</p>
<p>And we’re not doing it alone. We’re growing with you. With creators. With brands. With consumers who want to explore, not scroll. Who want to receive, not wait. Who believe lifestyle should be <strong>local, fast, smart</strong>, and always inspiring. Get Zency!</p>

</div>