<section class="selling-process">
  <h2>How Selling On <span class="highlight">zency</span> Works?</h2>
  <img src="images/ychoosemob.png" alt="How Selling Works" class="ychoosemob-img" />

  <div class="steps">
    <div class="step">
      <div class="number">1</div>
      <h3>Sign Up</h3>
      <p>Create your seller account in just minutes</p>
    </div>
    <img class="arrow1" src="images/arrow.png" alt="arrow" />
    <div class="step even">
      <div class="number">2</div>
      <h3>List Products</h3>
      <p>Add your inventory that categorises to your brand</p>
    </div>
    <img class="arrow2" src="images/arrow2.png" alt="arrow2" />
    <div class="step">
      <div class="number">3</div>
      <h3>Start Selling</h3>
      <p>Your products are live to thousands of potential users</p>
    </div>
    <img class="arrow3" src="images/arrow3.png" alt="arrow3" />
    <div class="step even">
      <div class="number">4</div>
      <h3>Get Paid</h3>
      <p>On-time payment settlements</p>
    </div>
  </div>
</section>