<section class="testimonials">
  <h2>You Are Not Alone..</h2>
    <div class="testimonial-scroll-wrapper">
  <div class="testimonial-cards">
    <div class="card3 selected">
      <div class="profile">
        <img src="assets/testimonials/hinshara.png" alt="Profile Picture" />
        <div>
          <h3>Hinshara Habeeb</h3>
          <p class="location">Manetain, Curly Hair Care</p>
        </div>
      </div>
      <p class="message">
        Our brand found the perfect platform to connect with customers with analytics who truly value quality and care.
        The quick delivery ensures our products reach them at their best!
      </p>
      <div class="logo-wrapper">
        <img src="assets/testimonials/manetain.png" alt="Manetain Logo" class="testimonial-logo" />
      </div>
    </div>

    <div class="card1">
      <div class="profile">
        <img src="assets/testimonials/sawni.png" alt="Profile Picture" />
        <div>
          <h3>Sawni Gupta</h3>
          <p class="location">Hyppy, Bohemian Lifestyle</p>
        </div>
      </div>
      <p class="message">
        Partnering with Zency has been a game changer. It beautifully complements our free spirit vibe while delivering
        our products with unmatched efficiency.
      </p>
      <div class="logo-wrapper">
        <img src="assets/testimonials/hyppy.png" alt="Manetain Logo" class="testimonial-logo" />
      </div>
    </div>

    <div class="card2">
      <div class="profile">
        <img src="assets/testimonials/robin.png" alt="Profile Picture" />
        <div>
          <h3>Robin Chopra</h3>
          <p class="location">Detoxie, Skin Care</p>
        </div>
      </div>
      <p class="message">
        As India’s first skincare brand into Anti-Stress and Anti-Pollution, curiosity among customers was the first
        thing, that we accomplished by having better visibility through Zency.
      </p>
      <div class="logo-wrapper">
        <img src="assets/testimonials/detoxie.png" alt="Manetain Logo" class="testimonial-logo" />
      </div>
    </div>

    <div class="card4">
      <div class="profile">
        <img src="assets/testimonials/neha.png" alt="Profile Picture" />
        <div>
          <h3>Neha</h3>
          <p class="location">Flurth, Lip Care</p>
        </div>
      </div>
      <p class="message">
        This marketplace has made our lip care essential and skincare more accessible and visible than ever, ensuring
        our customers never run out of their favorites.
      </p>
      <div class="logo-wrapper">
        <img src="assets/testimonials/flurth.png" alt="Manetain Logo" class="testimonial-logo" />
      </div>
    </div>

    <div class="card5">
      <div class="profile">
        <img src="assets/testimonials/vaani.png" alt="Profile Picture" />
        <div>
          <h3>Vaani Chugh</h3>
          <p class="location">D Chica, Teenage Innerwear</p>
        </div>
      </div>
      <p class="message">
        Our collaboration has brought comfort and confidence to teens. Onboarding was easy and their platform truly
        understands and delivers on customer needs.
      </p>
      <div class="logo-wrapper">
        <img src="assets/testimonials/dchica.png" alt="Manetain Logo" class="testimonial-logo" />
      </div>
    </div>
  </div>
  </div>
</section>