/* Common Elements Css @S */
/* variables */
:root {
  /* color variables */
  --primary-color: #18063c;
  --secondary-color: #79088f;

  /* font family variables */
  --primary-font: "Plus Jakarta Sans", sans-serif;
  --secondary-font: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 1.2;
}
.container {
  max-width: 1327px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}



