<div class="about-container">
    <h1>Email-Support</h1>
    <div class="onboarding-image-wrapper">
        <!-- Desktop Image -->
        <img src="assets/chatsupport/email_01.svg" alt="Onboarding Overview Desktop"
            class="onboarding-image desktop-img" />

        <!-- Mobile Images -->
        <div class="mobile-img-wrapper">
            <img src="assets/chatsupport/chatsupport_01.svg" alt="Onboarding Mobile 1" class="onboarding-image" />
            <img src="assets/chatsupport/email_02.svg" alt="Onboarding Mobile 2" class="onboarding-image" />
        </div>
    </div>
    <h2>Need Help? We're Just an Email Away</h2>
    <p>Whether you’re a shopper looking for fashion, lifestyle and electronics on the fly or a seller or D2C Brand powering the future of quick commerce, we’re here to support you, every step of the way.</p>

    <h2>For Customers</h2>
    <p>Have a question about your order? Need help with returns, colours, sizing, or app issues?</p>
    <p>Reach out to our support team anytime at: <strong>support&#64;getzency.com</strong></p>
    <p>We aim to respond within 1 hours, often much sooner.</p>

    <h2>For Sellers</h2>
    <p>Partnering with Zency or need assistance with your brand onboarding, listings, or payouts? Our dedicated seller team is here to help.</p>
    <p>Drop us a line at: <strong>sellersupport&#64;getzency.com</strong></p>

    <p>We’re committed to making your experience smooth, responsive, and growth focused.</p>
    <p>Zency is built on speed and that includes how we respond to you. Your journey matters. Let’s make it effortless.</p>

</div>